	<!--MAIN NAVIGATION-->
	<!--===================================================-->
	<nav id="mainnav-container">
		<div id="mainnav">
			<!--Menu-->
			<!--================================-->
			<div id="mainnav-menu-wrap">
				<div class="nano">
					<div class="nano-content">
						<ul id="mainnav-menu" class="list-group">
				
							<!--Category name-->
							<li class="list-header">Itens</li>
				
							<li>
								<a href="/">
									<i class="fa fa-dashboard"></i>
									<span class="menu-title">
										<strong>Painel</strong>
									</span>
								</a>
							</li>
							<li>
								<a href="/meta">
									<i class="fa fa-th"></i>
									<span class="menu-title">
										<strong>Metas</strong>
										<span class="pull-right badge badge-primary"><%=qtdMetas%></span>
									</span>
								</a>
							</li>
							<li>
								<a href="/indicador">
									<i class="fa fa-flask"></i>
									<span class="menu-title">
										<strong>Indicadores</strong>
										<span class="pull-right badge badge-purple"><%=qtdIndicadores%></span>
									</span>
								</a>
							</li>
						<!--Widget-->
						<!--================================-->
						<div class="mainnav-widget">

							<!-- Show the button on collapsed navigation -->
							<div class="show-small">
								<a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
									<i class="fa fa-desktop"></i>
								</a>
							</div>

							<!-- Hide the content on collapsed navigation -->
							<div id="demo-wg-server" class="hide-small mainnav-widget-content">
								<ul class="list-group">
									<li class="list-header pad-no pad-ver">% completude</li>
									<li class="mar-btm">
										<span class="label label-primary pull-right">15%</span>
										<p>Metas</p>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-primary" style="width: <%=percMetas%>;">
												<span class="sr-only"><%=percMetas%></span>
											</div>
										</div>
									</li>
									<li class="mar-btm">
										<span class="label label-purple pull-right">75%</span>
										<p>Indicadores</p>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-purple" style="width: <%=percIndicadores%>;">
												<span class="sr-only"><%=percIndicadores%></span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!--================================-->
						<!--End widget-->

					</div>
				</div>
			</div>
			<!--================================-->
			<!--End menu-->

		</div>
	</nav>
	<!--===================================================-->
	<!--END MAIN NAVIGATION-->