<% include partials/header %>
<%
var monthNames = ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun","Jul", "Ago", "Set", "Out", "Nov", "Dez"];
%>
<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div id="content-container">
		
		<!--Page Title-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div id="page-title">
			<h1 class="page-header text-overflow">Comportamento do Indicador</h1>
		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End page title-->

		<!--Page content-->
		<!--===================================================-->

		<div id="page-content">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title"><%=item.codigo%> - <%=item.titulo%></h3>
						</div>
						<div class="panel-body">
    							<table class="table table-striped table-vcenter">
									<thead>
										<tr>
											<th>Ano</th>
											<% monthNames.forEach((item) => {%>
											<th><%=item%></th>
											<%})%>
										</tr>
									</thead>
									<tbody>
									<%for(j=0;j<item.valores.length;j++){%>
										<%if(item.valores[j].mes==1){%>
											<tr>
												<td><%=item.valores[j].ano%></td>
											<%}%>
												<td class="text-right"><%=item.valores[j].valor%></td>
											<%if(item.valores[j].mes==12){%>
											</tr>
										<%}%>
									<%}%>
									</tbody>
								</table>
						</div>
					</div>
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Comportamento</h3>
                        </div>
                        <div class="panel-body">
                            <div id="indicador"></div>
                        </div>
                    </div>
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Conceituação</h3>
                        </div>
                        <div class="panel-body">
                            <p><%=item.conceito%></p>
                        </div>
                    </div>
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Interpretação</h3>
                        </div>
                        <div class="panel-body">
                            <p><%=item.interpretacao%></p>
                        </div>
                    </div>
					<div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Método de Cálculo</h3>
                        </div>
                        <div class="panel-body">
                            <p><%=item.metodo%></p>
                        </div>
                    </div>					
		</div>
		<!--===================================================-->
		<!--End page content-->


	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<% include partials/navigation %>

</div>
<!-- jQuery -->
    <!-- Morris Charts JavaScript -->
    <script src="/js/raphael-min.js"></script>
    <script src="/js/morris.min.js"></script>

<script>
$(function() {

    Morris.Bar({
        element: 'indicador',
        data: [
		<%for(j=0;j<12;j++){%>
		{
            y: '<%=monthNames[item.valores[j].mes-1]%>',
			<%for(i=0;i<item.valores.length/12;i++){%>
            <%=item.valores[j+12*i].ano%>: <%=item.valores[j+12*i].valor%>,
			<%}%>
        },
		<%}%>
		],
        xkey: 'y',
		
        ykeys: [
		<%for(i=0;i<item.valores.length/12;i++){%>
		'<%=item.valores[12*i].ano%>', 
		<%}%>
		],
        labels: [
		<%for(i=0;i<item.valores.length/12;i++){%>
		'<%=item.valores[12*i].ano%>', 
		<%}%>
		],
		%>
        hideHover: 'auto',
        resize: true
    });

});
</script>		
<% include partials/footer %>