<% include partials/header %>
<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div id="content-container">
		<!--Page content-->
		<!--===================================================-->
		<div id="page-content">

            <div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Metas</h3>
								</div>
					
								<!--Hover Rows-->
								<!--===================================================-->
								<div class="panel-body">
									<table class="table table-hover table-vcenter">
										<thead>
											<tr>
												<th class="min-width">Código PPA</th>
												<th class="min-width">Código ECar</th>
												<th>Descrição</th>
											</tr>
										</thead>
										<tbody>
                                            <%for(i=0;i<metas.length;i++){%>
                                            <tr>
                                                <td class="text-center">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-primary">
 													<a href="<%= '/meta/'+metas[i].siglappa%>">
                                                        <span class="text-semibold"><%=metas[i].siglappa%></span>
                                                    </a>
                                                </td>
                                                <td class="text-center">
													<span class="icon-wrap icon-wrap-sm icon-circle bg-primary">
 													<a href="<%= '/meta/'+metas[i].sigleppa%>">
                                                        <span class="text-semibold"><%=metas[i].siglaoe + '/' + metas[i].siglaecar%></span>
                                                    </a>
                                                </td>
												<td>
													<span class="text-semibold"><%=metas[i].descricao%></span>
												</td>
                                            </tr>
                                            <%}%>
										</tbody>
									</table>
								</div>
								<!--===================================================-->
								<!--End Hover Rows-->
					
							</div>



 		</div>
		<!--===================================================-->
		<!--End page content-->


	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->
	<% include partials/navigation %>

</div>		
<% include partials/footer %>       